# Connect to database

## Load the packages

In [2]:
# Clear all variables
%reset -f

# base imports
import sys
import os
import pandas as pd

# SQL Alchemy imports
from sqlalchemy import create_engine

# Set file paths and import settings and custom functions
#paths
project_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'src')))
sys.path.extend([os.path.join(project_dir)])
from config import settings
engine = create_engine(settings.db_url)
project_dir = settings.project_dir # create the project directory

# JCG git functions
with open(os.path.join(project_dir,'src','mypackages_import_all.py'), 'r') as f:
    exec(f.read())

## Load the data

In [3]:
file_path = os.path.join(project_dir, 'data', 'raw', 'CCK_FAO_AgLaborData_June20th2024.xlsx')
df_fao = pd.read_excel(file_path, sheet_name='FAOSTAT 2015')
df_fao.head()

,ccode,country,year,element,unit,data
0,2,Afghanistan,1980,Total economically active population in Agr,1000,3004
1,2,Afghanistan,1981,Total economically active population in Agr,1000,2937
2,2,Afghanistan,1982,Total economically active population in Agr,1000,2845
3,2,Afghanistan,1983,Total economically active population in Agr,1000,2740
4,2,Afghanistan,1984,Total economically active population in Agr,1000,2637